In [1]:
# Importing the required packages
import pandas as pd
import numpy as np

In [2]:
# Loading housing dataset
housing=pd.read_csv('Clean_Data\housing_clean.csv',usecols=['Households_Rural','Households_Urban'])

In [3]:
# Loading census dataset
census=pd.read_csv('Clean_Data\census_clean.csv',usecols=['Households_Rural','Households_Urban'])

In [4]:
# Joining census and housing dataset
joineddata=housing.join(census,how='left',lsuffix="_h",rsuffix='_c')

In [5]:
joineddata.head()

,Households_Rural_h,Households_Urban_h,Households_Rural_c,Households_Urban_c
0,158438.0,23226.0,158438.0,23226.0
1,160649.0,27190.0,160649.0,27190.0
2,36920.0,17474.0,36920.0,17474.0
3,40370.0,7774.0,40370.0,7774.0
4,132139.0,15269.0,132139.0,15269.0

In [6]:
# Checking for difference in data for housing and census dataset
joineddata['difference percent rural']=((joineddata['Households_Rural_h']-joineddata['Households_Rural_c']))*100

In [7]:
joineddata['difference percent urban']=((joineddata['Households_Urban_h']-joineddata['Households_Urban_h']))*100

In [8]:
joineddata.head()

,Households_Rural_h,Households_Urban_h,Households_Rural_c,Households_Urban_c,difference percent rural,difference percent urban
0,158438.0,23226.0,158438.0,23226.0,0.0,0.0
1,160649.0,27190.0,160649.0,27190.0,0.0,0.0
2,36920.0,17474.0,36920.0,17474.0,0.0,0.0
3,40370.0,7774.0,40370.0,7774.0,0.0,0.0
4,132139.0,15269.0,132139.0,15269.0,0.0,0.0

In [12]:
# Checking if there is more than 10% difference
joineddata[joineddata['difference percent urban']>10.0]

Empty DataFrame
Columns: [Households_Rural_h, Households_Urban_h, Households_Rural_c, Households_Urban_c, difference percent rural, difference percent urban]
Index: []